:root {
  --font-family-heading: "Playfair Display", serif;
  --font-family-handwriting: "Calligraffitti", cursive;
  --font-family-main: "Poppins", sans-serif;
  --branding-color-primary: #a2a885;
  --branding-color-secondary: #f8d8db;
  --branding-color-dark: #8a9074;
  --branding-color-light: #fef5f1;
}

body {
  font-family: var(--font-family-main);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

footer .content {
  text-align: center;
}

footer .email-link {
  color: #4c494d;
  font-size: 30px;
}

footer .social-links a {
  background: var(--branding-color-light);
  border-radius: 50%;
  color: #e2c5cf;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar-brand {
  margin: 0 50px 0 0;
}
.nav-link {
  margin: 0 50px 0 0;
}

.hero {
  background: var(--branding-color-light);
  padding: 120px 20px;
  text-align: center;
}

.hero p {
  color: #4c494d;
  font-size: 32px;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: 700;
}

.hero h2 {
  color: #4c494d;
  font-family: var(--font-family-handwriting);
  font-size: 30px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--branding-color-secondary);
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background: white;
  border: 1px solid var(--branding-color-primary);
  border-radius: 4px;
  color: var(--branding-color-primary);
  line-height: 27px;
  padding: 15px 30px;
}

.content-card {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  text-align: center;
  width: 300px;
}

.content-card-image {
  max-width: 100%;
}

.content-hero {
  background: var(--branding-color-light);
  padding: 30px 10px;
  text-align: center;
}
.content-hero h1 {
  font-size: 64px;
}

.content-hero h2 {
  font-family: var(--font-family-handwriting);
  font-size: 28px;
}

.content-hero .intro-line {
  color: #4c494d;
  font-size: 22px;
  margin: 0;
}

.content {
  text-align: center;
}

.link {
  color: var(--branding-color-primary);
  text-decoration: none;
}

.link:hover {
  color: var(--branding-color-dark);
  text-decoration: underline;
}

.recipe-description {
  padding: 120px 60px 0;
}

@media (max-width: 540px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 34px;
  }

  .hero {
    padding: 40px 0;
  }
  .hero h1 {
    font-size: 54px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero p {
    font-size: 22px;
  }

  .recipe-description {
    padding: 60px 30px 0;
  }
  .recipe-description h2 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .recipe-description {
    padding: 60px 30px 0;
  }
}
